{% extends 'project/projBase.html.twig' %}

{% block body %}
    <h1>Welcome, {{ playerName }}!</h1>
    
    <h2>Your Hand</h2>
    {% for card in playerHand.getCards() %}
        {{ card.getRank() }} of {{ card.getSuit() }}<br>
    {% endfor %}

    <h2>Computer's Hand</h2>
    {% for card in computerHand.getCards() %}
        {{ card.getRank() }} of {{ card.getSuit() }}<br>
    {% endfor %}
{% endblock %}
